*{
  margin:0;
  padding: 0;
}
body{
  font-family: 'Amiri', serif;
  font-size: 22px;
  color:#000000;
  background-color: #fff9eb;
  height: 100%;
  width: 100%;
}
html{
  height: 100%;
  width: 100%;
}
ul{
  list-style-type: none;
}
a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color:#000000;
}
.clear{
  clear:both;
}
img,embed,object,video {max-width: 100%;}
@media ( max-width: 1280px ) {
  #main { width: 100%; }
}

@media ( max-width: 768px ) {
  #main { width: 100%; }
}

@media ( max-width: 480px ) {
  #main { width: 100%; }
}
section#main{
  width:100%;
  height: 100%;
  margin:auto;
  position: relative;
  min-height: 100%;
}
aside#left{
  width: 20%;
  height: 100%;
  font-family: 'Amiri', serif;
  float: left;
  position: fixed;
  background-color: #fff9eb;
  border-right: 1px solid #444444;
  padding: 20px;
  margin-right: 10%;
}


aside#left #main_menu{
  font-size: 25px;
  margin-top: 45%;
}

aside#left #main_menu li{
  margin-top: 10px;
}
aside#main_menu a:link{
  color:#000000;
}
aside#main_menu a:visited{
  color:#000000;
}
aside#main_menu a:hover{
  color:#000000;
}
aside#main_menu a:active{
  color:#000000;
}

section#right{
  width:75%;
  float: left;
  margin: 20px 20px 0 24%;
  height: 100%;
  display: table;
  vertical-align: top;
}

section #top_menu{
  width: 100%;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #000000;
}
section #top_menu li{
  font-size: 14px;
  display: inline;
  font-weight: bold;
  margin-right: 10px;
}
section#footer{
  background-color: #000000;
  color: #fff9eb;
  font-size: 12px;
  position: relative;
  min-height: 10%;
  width: 100%;
  z-index: -1;
  text-align: right;
  display: table;
  vertical-align: bottom;
}
section#footer #address{
  padding-right:55px;
  padding-top: 10px;
}
