section#right{
  width:75%;
  float: left;
  margin: 20px 20px 0 23%;
  height: 100%;
  display: table;
  vertical-align: top;
}
section #top_menu{
  width: 100%;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #000000;
}
section #top_menu li{
  font-size: 14px;
  display: inline;
  font-weight: bold;
  margin-right: 10px;
}
section .box {
  width: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 15px;
  margin: 15px;
  border: 1px solid #000000;
}

section .pic {
  width: 50%;
  text-align: center;
  padding: 15px;
  margin: 15px;
  border: 1px solid #000000;
}
section .text {
  width: 50%;
  text-align: left;
  font-size: 14px;
  padding: 15px;
  margin: 15px;
  border: 1px solid #000000;
}
section .text input{
  margin-left: 30px;
  width: 400px;
}
section .text2 {
  width: 50%;
  vertical-align: middle;
  text-align: left;
  font-size: 14px;
  padding: 15px;
  margin: 15px;
  border: 1px solid #000000;
}
section .text2 b{
  margin-right: 15px;
}
section .buttons{
  float: left;
  height: 4%;
  text-align: center;
  padding: 15px;
  margin: 0 15px 15px 45%;
  border: 1px solid #000000;
}
